<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_session_user_login_success">
        <observer name="he_twofactorauth_observer" instance="HE\TwoFactorAuth\Observer\AdminUserAuthenticateAfter"/>
    </event>
    <event name="adminhtml_block_html_before">
        <observer name="he_twofactorauth_observer" instance="HE\TwoFactorAuth\Observer\GoogleClearSecretCheck"/>
    </event>
    <event name="model_save_before">
        <observer name="he_twofactorauth_observer" instance="HE\TwoFactorAuth\Observer\GoogleSaveClear"/>
    </event>
</config>
